.driver-box {
  font-weight: 100;

  &.selected {
    font-weight: bold;

    .driver-info {
      font-weight: bold;
    }
  }
}

.driver-info {
  display: block;
  font-size: 9px;
  color: #dc287f;
}