@import '~semantic-ui-css/semantic.min.css';
@import '~slick-carousel/slick/slick.css';
.app-container {
  background: #e6e6e6;


  .driver-list-slider {

    .slick-slider {
      height: 36px!important;
    }
    .slick-list {
      background: none;
      box-shadow: none;
    }
    .slick-slider .slick-arrow {
      z-index: 999;
      width: 35px;
      background: none;
      line-height: 38px;
      color: #757474;
      border: 0px;

      &.slick-disabled {
        color: #d2cece;
      }
    }

    .slick-slider .slide-box {
      //padding: 12px;
      color: #3c3c3c;

      &:hover {
        background: #dadada;
        color: #000;
      }
    }

    .slick-slider .slick-slide {
      border-right: none;
      text-align: center;
    }
    .slick-slider .slick-slide {
      border-right: none
    }
  }



  .lap-place-box {
    display: block;
    font-size: 12px;
    color: #797878;
  }
  .driver-box {
    line-height: 14px;

    small {
      color: #6b6b6b;
    }
    .info {
      color: #1f2a54;
    }
    .constructor-box {
      display: block;
      font-size: 12px;
      font-weight: bold;
      color: #dc287f;
    }
  }

.race-timming {
  display: flex;
  border-top: 2px solid #a333c8;
  border-radius: 5px;
  margin: 12px;
  overflow: hidden;

  .race-timming-sticky {
    width: 55px;
    box-shadow: 1px 18px 20px 5px #999;

    &:first-child {
      text-align: center;
    }
    .race-driver {
      height: 43px;
      line-height: 18px;
      padding: 6px 8px;
      font-weight: bold;
      border-bottom: 1px solid rgba(34,36,38,0.1);
    }
  }


  .race-timming-slide {
    width: calc(100% - 50px);
    display: block;
    overflow-y: hidden;
    padding-bottom: 10px;

    .timming-row {
      display: inline-flex;

      .green-box {
        position:absolute;
        left: -50px;
        bottom: -1px;
        top:0px;
        right:0;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(26,173,58,0.21) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(26,173,58,0.21)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(26,173,58,0.21) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(26,173,58,0.21) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(26,173,58,0.21) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(26,173,58,0.21) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1aad3a', GradientType=1 );
      }
      .red-box {
        position:absolute;
        left: -50px;
        bottom: -1px;
        top:0px;
        right:0;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(204,2,2,0.21) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(204,2,2,0.21)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(204,2,2,0.21) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(204,2,2,0.21) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(204,2,2,0.21) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(204,2,2,0.21) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cc0202', GradientType=1 );
      }
      &:first-of-type {
        cursor: auto;
        background: #f9fafb;
        text-align: inherit;
        color: rgba(0,0,0,.87);
        vertical-align: inherit;
        font-weight: 700;
        text-transform: none;
        border-left: none;

        .race-time-box{
          font-weight: unset;
          line-height: 35px;
      }
        &:hover {
          background: none;
        }
      }
      &:hover {
        background: rgba(0,0,0,.05)!important;
      }
      .race-lap {
        text-align: center;
        display: grid;
        padding: 6px;
        border-bottom: 1px solid rgba(34,36,38,.1);
      }
      .race-time-box {
        display: grid;
        height: 43px;
        line-height: 20px;
        font-weight: bold;
        width: 105px;
        padding: 6px 8px;
        border-bottom: 1px solid rgba(34,36,38,0.1);
        text-align: center;
        position: relative;
        border-right: 1px solid #e8e9e9;

        .box-place {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 11px;
          padding: 1px 4px;
          font-weight: bold;
          display: block;
          line-height: 12px;
          width: 20px;
          color: #999;

          .gap {
            position: absolute;
            bottom: 1px;
            right: 20px;
            width: 50px;
            text-align: right;

            .plus {
              color: #137b2b;
            }
            .minus {
              color: #a72b2b;
            }
          }
        }
        &.best-time {
          background: #21ba45;
          color: #fff;
          text-shadow: 0px 0px 3px #065017;
        }
        &.last-time {
          background: #db2828;
          color: #fff;
        }
        .race-driver{
          font-size: 12px;
          color: #848181;
        }
        .race-time{
          font-weight: bold;
        }
      }
    }
  }





}


  .grid-place {
    float: left;
    display: block;
    width: 15px;
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    position: relative;

    b {
      font-size: 16px;
    }
    i.up {
      font-size: 18px;
      color: #49ab2f;
      width: 3px;
    }
    i.down {
      font-size: 18px;
      color: #dc2929;
      width: 3px;
    }
  }
}
 .ui.segment.dimmable {
   background: #e6e6e6;
 }
.ui.inverted.menu {
  border: 0 solid transparent;
  background: #dc2880;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.slick-slider {
  display: inline-flex;
  width: 100%;
  height: 50px;

  .slick-track {
    height: 100%;
  }
  .slick-slide {
    position: relative;
    border-right: 1px solid #4e619e;
    text-align: center;
  }
  .slide-box {
    padding: 8px;
    color: #fff;
    line-height: 10px;

    &:focus {
      outline: none;
    }
    h5 {
      margin: 0;
      font-size: 16px;
      z-index: 9;
      position: relative;
    }
    .label {
      position: absolute;
      background-color: #db2881!important;
      bottom: 0px;
      border-radius: 0;
      left: 15px;
    }
    .round-see {
      position: absolute;
      right: 0px;
      top: -2px;
      opacity: .5;
      font-size: 22px;
    }
  }
  .slick-arrow {
    z-index: 999;
    width: 35px;
    cursor: pointer;
    background: #1e2954;
    line-height: 48px;
    text-align: center;
    color: #fff;

    &:hover {
      background: #192244;
    }

    &.slick-prev {
      border-right: 1px solid #346494;
    }

    &.slick-next {
      border-left: 1px solid #346494;
    }
    &.slick-disabled {
      color: #4c577d;
      cursor: auto;
    }

  }
  .slick-list {
    background: #2e4694;
    -webkit-box-shadow: inset 0px 0px 91px -1px rgba(39,50,94,1);
    -moz-box-shadow: inset 0px 0px 91px -1px rgba(39,50,94,1);
    box-shadow: inset 0px 0px 91px -1px rgba(39,50,94,1);
    color: #fff;
    width: calc(100% - 70px);
  }
}

